# Spare Matrix
by Shahid Hussain

In [47]:
import pandas as pd
import numpy as np 
df = pd.read_csv('./wm1.dat.txt', header=None)
df = df[0].str.split(expand=True)
df.columns = ['I', 'J', 'V']

print(df)

#Shift I and J by -1 
df['I'] = df['I'].apply(lambda x: float(x) - 1)
df['J'] = df['J'].apply(lambda x:float(x) - 1)
df

        I    J                     V
0       1    1   1.0000000000000e-01
1       8    1  -1.6799998000000e-01
2       9    1  -1.2999999000000e-01
3      10    1   4.7999993000000e-01
4      11    1   3.8999999000000e-01
...   ...  ...                   ...
2904    6  276   1.0000000000000e-01
2905  197  276   1.0000000000000e-01
2906  206  276  -1.0000000000000e-01
2907    5  277  -1.0000000000000e-01
2908  207  277  -1.0000000000000e-01

[2909 rows x 3 columns]

          I      J                     V
0       0.0    0.0   1.0000000000000e-01
1       7.0    0.0  -1.6799998000000e-01
2       8.0    0.0  -1.2999999000000e-01
3       9.0    0.0   4.7999993000000e-01
4      10.0    0.0   3.8999999000000e-01
...     ...    ...                   ...
2904    5.0  275.0   1.0000000000000e-01
2905  196.0  275.0   1.0000000000000e-01
2906  205.0  275.0  -1.0000000000000e-01
2907    4.0  276.0  -1.0000000000000e-01
2908  206.0  276.0  -1.0000000000000e-01

[2909 rows x 3 columns]

In [50]:
# create a sparse Array 
import scipy 
A = scipy.sparse.csr_matrix((df['V'], (df['I',df['J']))).T

NameError: name 'V' is not defined